{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agthia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'sta1/homepage.css' %}" />
  </head>
  <body>
    <div class="homepage">
      <div class="container-8">
        <div class="banner">
          <div class="container-13">
            <div class="logo">
              <img class="layer-1" src="{% static 'sta1/images/a_6_a_91001.jpeg' %}" />
            </div>
            <div class="line-4">
            </div>
            <div class="content-1">
              <span class="homes-about-restaurants-reservation-contact">
              Homes          About          Restaurants          Reservation          Contact
              </span>
            </div>
          </div>
          <div class="image">
            <div class="line-5">
            </div>
            <div class="container-9">
              <div class="content">
                <p class="every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure">
                <span class="every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure-sub-140"></span><span class="every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure-sub-139"></span><span class="every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure-sub-140"></span><span></span>
                </p>
                <span class="simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy">
                Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy .
                </span>
              </div>
              <div class="button-2">
                <span class="for-reservations">
                For Reservations
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="about">
          <div class="container-2">
            <div class="line-3">
            </div>
            <div class="the-story">
              <div class="group-48">
                <div class="about-1">
                About
                </div>
                <span class="aghtia-food-company-is-afamily-of-unique-food-concepts-that-are-built-on-sustainability-and-delicate-culinary-excellence-we-strive-to-provide-everyone-with-affordable-and-high-quality-food-with-apromise-to-sustain-better-human-health-and-the-environment-which-will-make-adifference-for-generations-to-come">
                Aghtia-Food Company is a family of unique <br />
                food concepts that are built on sustainability <br />
                and delicate culinary excellence.<br />
                <br />
                We strive to provide everyone with affordable and high-quality food with a promise to sustain better human health and the environment, which will make a difference for generations to come.
                </span>
              </div>
              <div class="group-47">
                <div class="our-people">
                Our People
                </div>
                <span class="with-more-than-800-employees-we-would-not-be-where-we-are-today-without-the-efforts-of-our-employees-our-senior-management-that-holds-internationally-recognized-professionals-in-all-functions-continues-to-drive-our-dynamic-and-collaborative-organization-we-have-faith-in-diversity-of-personalities-experiences-and-backgrounds-as-conducive-to-involve-and-leads-to-more-innovative-working-lives">
                With more than 800+ employees, we would not be where we are today without the efforts of our employees. Our senior management that holds internationally recognized professionals in all functions, continues to drive our dynamic and collaborative organization. We have faith in diversity of personalities, experiences, and backgrounds as conducive to involve and leads <br />
                to more innovative working lives. 
                </span>
              </div>
            </div>
          </div>
          <div class="container-6">
            <div class="new-2">
            </div>
          </div>
        </div>
        <div class="group-58">
          <div class="group-57">
            <div class="group-54">
              <div class="content-2">
                <div class="title">
                  <div class="sub-title-1">
                    <div class="line-7">
                    </div>
                    <div class="restaurants">
                    rESTAURANTS
                    </div>
                    <div class="line-6">
                    </div>
                  </div>
                  <span class="local-brands">
                  LOCAL BRANDS
                  </span>
                </div>
                <span class="lorem-ipsum-is-that-it-has-amore-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-making">
                Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content making.
                </span>
              </div>
              <div class="group-53">
                <div class="title-1">
                  <div class="sub-title-2">
                    <div class="line-9">
                    </div>
                    <div class="restaurants-1">
                    rESTAURANTS
                    </div>
                    <div class="line-8">
                    </div>
                  </div>
                  <span class="local-brands-1">
                  LOCAL BRANDS
                  </span>
                </div>
                <span class="lorem-ipsum-is-that-it-has-amore-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-making-1">
                Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content making.
                </span>
              </div>
            </div>
            <div class="content-3">
              <div class="container-7">
                <div class="image-1">
                  <div class="container-7">
                    <div class="a-6-a-91001">
                    </div>
                  </div>
                </div>
                <div class="content-4">
                  <span class="bu-masoud">
                  BU MASOUD
                  </span>
                </div>
              </div>
              <div class="container-8">
                <div class="image-2">
                  <div class="container">
                    <div class="c-9-f-0-aab-484-bb-33033938485131-c-5-b-8951">
                    </div>
                  </div>
                </div>
                <div class="content-5">
                  <span class="burger-inn">
                  BURGER INN
                  </span>
                </div>
              </div>
              <div class="container-9">
                <div class="image-3">
                  <div class="container-4">
                    <div class="screenshot-20240203-at-11551">
                    </div>
                  </div>
                </div>
                <div class="content-6">
                  <span class="fatayer-al-tayer">
                  FATAYER AL TAYER
                  </span>
                </div>
              </div>
            </div>
            <div class="group-55">
              <div class="title-2">
                <span class="international-brands">
                INTERNATIONAL  BRANDS
                </span>
              </div>
              <span class="lorem-ipsum-is-that-it-has-amore-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-making-2">
              Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content making.
              </span>
            </div>
          </div>
          <div class="content-7">
            <div class="container-10">
              <div class="image-4">
                <div class="container-5">
                  <div class="low-res-beef-bar-food-beef-bar-202180511">
                  </div>
                </div>
              </div>
              <div class="content-8">
                <span class="beefbar">
                BEEFBAR
                </span>
              </div>
            </div>
            <div class="container-11">
              <div class="image-5">
                <div class="container-14">
                  <div class="bb-0-a-3-ab-8-ea-98-cfe-8906135767-f-7-bf-41">
                  </div>
                </div>
              </div>
              <div class="content-9">
                <span class="novikov">
                NOVIKOV
                </span>
              </div>
            </div>
            <div class="container-12">
              <div class="image-6">
                <div class="container-10">
                  <div class="full-size-render-1">
                  </div>
                </div>
              </div>
              <div class="content-10">
                <span class="ferdi">
                FERDI
                </span>
              </div>
            </div>
          </div>
          <div class="button-3">
            <span class="view-restaurants">
            View Restaurants
            </span>
          </div>
        </div>
        <div class="footer">
          <div class="container-12">
            <div class="middle">
              <div class="contact">
                <div class="sub-title">
                  <div class="line-1">
                  </div>
                  <div class="contact-1">
                  Contact
                  </div>
                  <div class="line">
                  </div>
                </div>
                <span class="al-sharqia-tower-floor-7-jaber-al-mubarak-street-block-2-kuwait-city">
                AL SHARQIA TOWER<br />
                FLOOR 7<br />
                JABER AL MUBARAK STREET, BLOCK 2<br />
                KUWAIT CITY
                </span>
              </div>
              <div class="newslatter">
                <div class="join-our-mailing-list-for-updates-get-news-offers-events">
                 Join our mailing list for updates,<br />
                Get news &amp; offers events.
                </div>
                <div class="button">
                  <div class="email">
                    <span class="email-1">
                    Email
                    </span>
                  </div>
                  <div class="button-1">
                    <span class="subscribe">
                    Subscribe
                    </span>
                  </div>
                </div>
              </div>
              <div class="working-hour">
                <span class="info-agthia-food-com">
                22260445<br />
                INFO@AGTHIA-FOOD.COM
                </span>
              </div>
            </div>
          </div>
          <div class="container-11">
            <div class="bottom">
              <div class="line-2">
              </div>
              <div class="copyright">
                <span class="copyright-1">
                © Copyright 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reservation">
        <div class="container-1">
          <div class="form">
            <div class="title-3">
              <div class="sub-title-3">
                <div class="container-3">
                  <div class="line-10">
                  </div>
                  <div class="group-51">
                    <div class="sub-title-4">
                      <span class="reservation-1">
                      RESERVATION
                      </span>
                    </div>
                    <div class="line-11">
                    </div>
                  </div>
                </div>
                <div class="line-12">
                </div>
              </div>
              <span class="book-your-tabll-now">
              BOOK YOUR TABLL NOW
              </span>
            </div>
            <div class="form-1">
              <div class="container">
                <div class="container-1">
                  <span class="name">
                  Name
                  </span>
                </div>
                <div class="container-2">
                  <span class="email-2">
                  Email
                  </span>
                </div>
              </div>
              <div class="container-3">
                <div class="container-4">
                  <span class="person">
                  Person
                  </span>
                </div>
                <div class="container-5">
                  <span class="timing">
                  Timing
                  </span>
                </div>
                <div class="container-6">
                  <span class="date">
                  Date
                  </span>
                </div>
              </div>
              <div class="button-4">
                <span class="book-atable">
                Book a Table
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>