.homepage .layer-1 {
  width: 277px;
  height: 205px;
}
.homepage .logo {
  margin-bottom: 66px;
  display: flex;
  width: 277px;
  height: 205px;
  box-sizing: border-box;
}
.homepage .line-4 {
  background: #5C6168;
  margin-bottom: 27px;
  width: 1917px;
  height: 1px;
}
.homepage .homes-about-restaurants-reservation-contact {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #DEDEDE;
}
.homepage .content-1 {
  position: relative;
  margin-left: 52px;
  width: 652px;
  height: 25px;
}
.homepage .container-13 {
  background: #292E36;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 3px 756px 0;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.homepage .line-5 {
  background: #5C6168;
  margin: 0 3px 1px 0;
  width: 1917px;
  height: 1px;
}
.every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure-sub139 {
  font-family: 'MADE Avenue PERSONAL USE', 'Roboto Condensed';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #F3E3BE;
}
.every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure {
  font-family: 'MADE Avenue PERSONAL USE', 'Roboto Condensed';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #F3E3BE;
}
.homepage .every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'MADE Avenue PERSONAL USE', 'Roboto Condensed';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 1.325;
  text-transform: capitalize;
  color: #FFFFFF;
}
.every-dish-is-achapterand-every-concept-unfolds-anew-culinary-adventure-sub140 {
  font-family: 'MADE Avenue PERSONAL USE', 'Roboto Condensed';
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5.6px;
  line-height: 1.333;
  text-transform: uppercase;
}
.homepage .simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #DFDFDF;
}
.homepage .content {
  position: relative;
  margin-bottom: 43px;
  padding-bottom: 29px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .for-reservations {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #FFFFFF;
}
.homepage .button-2 {
  border: 2px solid #E1B168;
  margin-right: 315.9px;
  display: flex;
  padding: 18px 0;
  width: 286px;
  box-sizing: border-box;
}
.homepage .container-9 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #292E36);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 179px 0 232px 0;
  width: 1920px;
  box-sizing: border-box;
}
.homepage .image {
  background: url('../assets/images/adobe_stock_6226287241.jpeg');
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 0;
  box-sizing: border-box;
}
.homepage .banner {
  position: relative;
  display: flex;
  padding-bottom: 91px;
  width: 1920px;
  box-sizing: border-box;
}
.homepage .line-3 {
  background: #B29A90;
  margin-right: 52px;
  width: 1px;
  height: 527px;
}
.homepage .about-1 {
  margin: 0 2.8px 20.3px 2.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .aghtia-food-company-is-afamily-of-unique-food-concepts-that-are-built-on-sustainability-and-delicate-culinary-excellence-we-strive-to-provide-everyone-with-affordable-and-high-quality-food-with-apromise-to-sustain-better-human-health-and-the-environment-which-will-make-adifference-for-generations-to-come {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #555555;
}
.homepage .group-48 {
  margin-bottom: 73.2px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .our-people {
  margin: 0 4.7px 20.3px 4.7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .with-more-than-800-employees-we-would-not-be-where-we-are-today-without-the-efforts-of-our-employees-our-senior-management-that-holds-internationally-recognized-professionals-in-all-functions-continues-to-drive-our-dynamic-and-collaborative-organization-we-have-faith-in-diversity-of-personalities-experiences-and-backgrounds-as-conducive-to-involve-and-leads-to-more-innovative-working-lives {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #555555;
}
.homepage .group-47 {
  margin-right: 0.1px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .the-story {
  margin-bottom: 1.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.homepage .container-2 {
  background: #F3EDDE;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 205px 0 206px 0;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.homepage .new-2 {
  background: url('../assets/images/new_2.jpeg') 50% / cover no-repeat;
  width: 617px;
  height: 971px;
}
.homepage .container-6 {
  box-shadow: 0px 43px 56px 0px rgba(0, 0, 0, 0.31);
  background: url('../assets/images/new_2.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 270px;
  bottom: 0px;
  display: flex;
  width: 617px;
  height: 971px;
  box-sizing: border-box;
}
.homepage .about {
  position: relative;
  margin-bottom: 148px;
  display: flex;
  padding-bottom: 101px;
  width: 1920px;
  box-sizing: border-box;
}
.homepage .line-7 {
  background: #E1B168;
  margin-bottom: 12.5px;
  width: 323.8px;
  height: 1px;
}
.homepage .restaurants {
  margin: 0 0 9.5px 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 6.8px;
  line-height: 0.771;
  text-transform: uppercase;
  color: #292E36;
}
.homepage .line-6 {
  background: #E1B168;
  width: 323.8px;
  height: 1px;
}
.homepage .sub-title-1 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 323.8px;
  box-sizing: border-box;
}
.homepage .local-brands {
  margin: 0 12.9px;
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .title {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .lorem-ipsum-is-that-it-has-amore-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-making {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #555555;
}
.homepage .content-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.homepage .line-9 {
  background: #E1B168;
  margin-bottom: 12.5px;
  width: 323.8px;
  height: 1px;
}
.homepage .restaurants-1 {
  margin: 0 0 9.5px 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 6.8px;
  line-height: 0.771;
  text-transform: uppercase;
  color: #292E36;
}
.homepage .line-8 {
  background: #E1B168;
  width: 323.8px;
  height: 1px;
}
.homepage .sub-title-2 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 323.8px;
  box-sizing: border-box;
}
.homepage .local-brands-1 {
  margin: 0 12.9px;
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .title-1 {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .lorem-ipsum-is-that-it-has-amore-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-making-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #555555;
}
.homepage .group-53 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.homepage .group-54 {
  position: relative;
  margin: 0 0 58px 0.7px;
  display: flex;
  box-sizing: border-box;
}
.homepage .a-6-a-91001 {
  background: url('../assets/images/a_6_a_91001.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: -319px;
  right: -109px;
  width: 640px;
  height: 959.9px;
}
.homepage .container-7 {
  position: relative;
  width: 422px;
  height: 433px;
}
.homepage .image-1 {
  background: #969696;
  position: relative;
  display: flex;
  width: 422px;
  height: 433px;
  box-sizing: border-box;
}
.homepage .bu-masoud {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 25px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .content-4 {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 27px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .container-7 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homepage .c-9-f-0-aab-484-bb-33033938485131-c-5-b-8951 {
  background: url('../assets/images/c_9_f_0_aab_484_bb_33033938485131_c_5_b_8951.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -260px;
  top: -67px;
  width: 727px;
  height: 546px;
}
.homepage .container {
  position: relative;
  width: 422px;
  height: 433px;
}
.homepage .image-2 {
  background: #969696;
  position: relative;
  display: flex;
  width: 422px;
  height: 433px;
  box-sizing: border-box;
}
.homepage .burger-inn {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 25px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .content-5 {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 27px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .container-8 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homepage .screenshot-20240203-at-11551 {
  background: url('../assets/images/screenshot_20240203_at_11551.png') 50% / cover no-repeat;
  position: absolute;
  top: -227px;
  right: -61px;
  width: 539px;
  height: 676px;
}
.homepage .container-4 {
  position: relative;
  width: 422px;
  height: 433px;
}
.homepage .image-3 {
  background: #969696;
  position: relative;
  display: flex;
  width: 422px;
  height: 433px;
  box-sizing: border-box;
}
.homepage .fatayer-al-tayer {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 25px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .content-6 {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 27px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .container-9 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homepage .content-3 {
  margin-bottom: 126px;
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .international-brands {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .title-2 {
  margin-bottom: 22px;
  display: flex;
  box-sizing: border-box;
}
.homepage .lorem-ipsum-is-that-it-has-amore-or-less-normal-distribution-of-letters-as-opposed-to-using-content-here-content-making-2 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #555555;
}
.homepage .group-55 {
  margin-left: 14.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .group-57 {
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .low-res-beef-bar-food-beef-bar-202180511 {
  background: url('../assets/images/low_res_beef_bar_food_beef_bar_202180511.png') 50% / cover no-repeat;
  position: absolute;
  left: -32px;
  top: -608px;
  width: 474px;
  height: 1435px;
}
.homepage .container-5 {
  position: relative;
  width: 422px;
  height: 433px;
}
.homepage .image-4 {
  background: #969696;
  position: relative;
  display: flex;
  width: 422px;
  height: 433px;
  box-sizing: border-box;
}
.homepage .beefbar {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 25px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .content-8 {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 27px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .container-10 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homepage .bb-0-a-3-ab-8-ea-98-cfe-8906135767-f-7-bf-41 {
  background: url('../assets/images/bb_0_a_3_ab_8_ea_98_cfe_8906135767_f_7_bf_41.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: -286px;
  right: -295px;
  width: 936px;
  height: 749px;
}
.homepage .container-14 {
  position: relative;
  width: 422px;
  height: 433px;
}
.homepage .image-5 {
  background: #969696;
  position: relative;
  display: flex;
  width: 422px;
  height: 433px;
  box-sizing: border-box;
}
.homepage .novikov {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 25px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .content-9 {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 27px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .container-11 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homepage .full-size-render-1 {
  background: url('../assets/images/full_size_render_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -86px;
  top: -175px;
  width: 541px;
  height: 721px;
}
.homepage .container-10 {
  background: url('../assets/images/photo.png') 50% / cover no-repeat;
  position: relative;
  width: 422px;
  height: 433px;
}
.homepage .image-6 {
  background: #969696;
  position: relative;
  display: flex;
  width: 422px;
  height: 433px;
  box-sizing: border-box;
}
.homepage .ferdi {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 25px;
  line-height: 0.771;
  color: #292E36;
}
.homepage .content-10 {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 27px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .container-12 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homepage .content-7 {
  margin-bottom: 94px;
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .view-restaurants {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #000000;
}
.homepage .button-3 {
  border: 2px solid #E1B168;
  display: flex;
  padding: 18px 0;
  width: 294px;
  box-sizing: border-box;
}
.homepage .group-58 {
  margin-bottom: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .line-1 {
  background: #E1B168;
  margin-bottom: 5px;
  width: 98px;
  height: 1px;
}
.homepage .contact-1 {
  margin: 0 0.5px 6px 0.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 4.1px;
  line-height: 0.771;
  text-transform: uppercase;
  color: #FFFFFF;
}
.homepage .line {
  background: #E1B168;
  width: 98px;
  height: 1px;
}
.homepage .sub-title {
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .al-sharqia-tower-floor-7-jaber-al-mubarak-street-block-2-kuwait-city {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.695;
  color: #FFFFFF;
}
.homepage .contact {
  margin-right: 177.4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homepage .join-our-mailing-list-for-updates-get-news-offers-events {
  margin-bottom: 32px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #FFFFFF;
}
.homepage .email-1 {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #FFFFFF;
}
.homepage .email {
  border: 1px solid #858585;
  padding: 19px 19.4px;
  width: 358px;
  box-sizing: border-box;
}
.homepage .subscribe {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #292E36;
}
.homepage .button-1 {
  background: #FFFFFF;
  display: flex;
  padding: 20px 1px 20px 0;
  width: 232px;
  box-sizing: border-box;
}
.homepage .button {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .newslatter {
  margin: 0 126.3px 76px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.homepage .info-agthia-food-com {
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.695;
  color: #E1B168;
}
.homepage .working-hour {
  margin-bottom: 158px;
  display: flex;
  box-sizing: border-box;
}
.homepage .middle {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.homepage .container-12 {
  margin-bottom: 64px;
  display: flex;
  width: 1920px;
  box-sizing: border-box;
}
.homepage .line-2 {
  background: #575B62;
  margin-bottom: 29px;
  width: 1920px;
  height: 1px;
}
.homepage .copyright-1 {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.265;
  color: #FFFFFF;
}
.homepage .copyright {
  display: flex;
  box-sizing: border-box;
}
.homepage .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.homepage .container-11 {
  display: flex;
  width: 1920px;
  box-sizing: border-box;
}
.homepage .footer {
  background: #1F242C;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 77.6px 0 38.4px 0;
  width: 1920px;
  box-sizing: border-box;
}
.homepage .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.homepage .line-10 {
  background: #E1B168;
  margin: 0 94.7px 12.5px 0;
  width: 147px;
  height: 1px;
}
.homepage .reservation-1 {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 6.8px;
  line-height: 0.771;
  text-transform: uppercase;
  color: #292E36;
}
.homepage .sub-title-4 {
  margin: 0 0 9.5px 0.1px;
  display: flex;
  box-sizing: border-box;
}
.homepage .line-11 {
  background: #E1B168;
  width: 323.8px;
  height: 1px;
}
.homepage .group-51 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 323.8px;
  box-sizing: border-box;
}
.homepage .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 323.8px;
  height: fit-content;
  box-sizing: border-box;
}
.homepage .line-12 {
  background: #E1B168;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 323.8px;
  height: 1px;
}
.homepage .sub-title-3 {
  position: relative;
  margin-bottom: 18px;
  display: flex;
  width: 323.8px;
  box-sizing: border-box;
}
.homepage .book-your-tabll-now {
  overflow-wrap: break-word;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.771;
  color: #000000;
}
.homepage .title-3 {
  margin-bottom: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .name {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #000000;
}
.homepage .container-1 {
  border: 1px solid #858585;
  position: relative;
  margin-right: 28px;
  padding: 20px 21.3px;
  width: 358px;
  box-sizing: border-box;
}
.homepage .email-2 {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #000000;
}
.homepage .container-2 {
  border: 1px solid #858585;
  position: relative;
  padding: 20px 20.4px;
  width: 358px;
  box-sizing: border-box;
}
.homepage .container {
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .person {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #000000;
}
.homepage .container-4 {
  border: 1px solid #858585;
  position: relative;
  padding: 20px 21px;
  width: 232px;
  box-sizing: border-box;
}
.homepage .timing {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #000000;
}
.homepage .container-5 {
  border: 1px solid #858585;
  position: relative;
  padding: 20px 21px;
  width: 232px;
  box-sizing: border-box;
}
.homepage .date {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #000000;
}
.homepage .container-6 {
  border: 1px solid #858585;
  position: relative;
  padding: 20px 21px;
  width: 232px;
  box-sizing: border-box;
}
.homepage .container-3 {
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .book-atable {
  overflow-wrap: break-word;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.265;
  color: #292E36;
}
.homepage .button-4 {
  background: #FFFFFF;
  display: flex;
  padding: 20px 1px 20px 0;
  width: 232px;
  box-sizing: border-box;
}
.homepage .form-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homepage .form {
  background: rgba(243, 237, 222, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 151px 0;
  width: 1056px;
  height: fit-content;
  box-sizing: border-box;
}
.homepage .container-1 {
  background: url('../assets/images/philippe_chow_nyc_downtown_bar_dining_room_59451.jpeg') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 197px 0 184px 0;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.homepage .reservation {
  background: #292E36;
  position: absolute;
  left: 50%;
  bottom: 460px;
  translate: -50% 0;
  display: flex;
  width: 1920px;
  box-sizing: border-box;
}
.homepage {
  background: #FFFFFF;
  display: flex;
  width: 1920px;
  box-sizing: border-box;
}
